@import 'colors';

* {
    margin: 0;
    font-family: "Sans Serif";
}
strong {
    font-family: "Sans Serif Bold";
}
em {
    font-family: "Sans Serif Italic";
}
h1, h2, h3, h4 {
    font-family: "Sans Serif";
}
code {
    font-family: "Sans Serif";
    font-size: 0.85em;
}
