{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="{{ lang }}">

    {{ macros::head() }}

    <body>
        <div id="index-header">
            <h1 class="andromeda-header-text">
                <a href="{{ get_url(path='', lang=lang) }}">{{ config.title }}</a>
            </h1>
            <span class="header-link-container">
                {% for link in config.extra.header_links %}
                {% if link.switch_lang  %}
                    <a href="{{ get_url(path=link.path, lang=link.switch_lang[lang]) }}" class="header-link">{{ link.display[lang] }}</a>
                {% else %}
                    <a href="{{ get_url(path=link.path, lang=lang) }}" class="header-link">{{ link.display[lang] }}</a>
                {% endif %}

                {% endfor %}
            </span>
        </div>
        <div class="content">
            {% block content %}
            {%- set pages = section.pages -%}
            {%- for s in section.subsections -%}
            {%- set_global pages = pages | concat(with=get_section(path=s)) -%}
            {%- endfor -%}
            <div class="posts">
                {%- if pages -%}
                {% for page in pages %}
                <a class="stretched" href="{{ get_url(path=page.path, lang=lang) }}">
                    <div class="post-container">
                        <img data-src="{{config.base_url}}img/{{page.extra.header_img}}" class="lozad" data-placeholder-background="darkgrey">
                        <div class="post-text">
                            <h2 class="post-title">{{ page.title | safe }}</h2>
                            <span class="post-description">{{ page.description | safe }}</span>
                            {% if page.date %}<span class="post-date">{{ page.date | date(format="%Y/%m/%d") }}</span>{% endif %}
                        </div>
                    </div>
                </a>
                {% endfor -%}
                {%- else -%}
                We don't have any post for now, content is coming very soon!
                {%- endif -%}
            </div>
            {% endblock content -%}
        </div>
        {{ macros::footer(lang=lang) }}
    </body>
</html>
